<header class="sticky top-0 z-999999 bg-amber-900 text-gray-300 flex h-full flex-row py-2">
    <div>
        <img class="h-20 w-20" src="logos/log_normal.svg" />
    </div>
    <nav class="flex flex-row justify-between w-full p-6">
        <div class="flex flex-row gap-5 items-center">
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Startseite</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="user">User</a>
        </div>
        <div class="flex flex-row gap-5 items-center">
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
            <a class="underline text-xl hover:text-amber-300 cursor-pointer" routerLink="">Neuer User</a>
        </div>
    </nav>
</header>
